*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* padding: 16px; */
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 1;
    color: rgb(0,23,50);
    font-size: 40px;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container {
    width: 484px
}

.game-board {
    border: 2px solid rgb(0, 23, 50);
    position: relative;
}

h1 {
    font-size: 40px;
}

.score {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.grid {
    width: 484px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 1px solid black;
    width: 48px;
    height: 48px;
    cursor: pointer;
    outline: 1px solid black;
}

.end-game-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(241, 117, 78, 0.7);
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.end-game-text {
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
}

.btn {
    font-size: 24px;
    font-family: 'Darker Grotesque';
    padding: 4px 20px 8px 20px;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}

.cell-clicked {
    background-color: rgb(157, 197, 199);
    cursor: not-allowed;
}

.win {
    background-color: rgba(78, 241, 187, 0.7);
}

.cell-bomb {
    background-image: url(img/bomb.png);
    background-size: contain;
    background-position: center;
}